body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white; }

/* barra de navegacion */
.seccionactual {
  background-color: #c0b5b5;
  border-radius: 8px;
  color: white; }

/* header general */
.seccionindex1 {
  background-image: url(../fotos/fondoo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column; }
  .seccionindex1_h1 {
    color: white;
    font-size: 28px rem;
    text-shadow: 0.06em 0.06em grey; }

/* elementos generales */
p {
  font-size: 32px;
  color: wheat; }

.cindex {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 1.8fr;
  grid-template-rows: 5.8fr 0.5fr;
  gap: 15px;
  padding: 40px;
  grid-auto-flow: row;
  grid-template-areas: 
  "seccioni2 seccioni3"
  "seccioni4 seccioni4"; }

@media (max-width: 480px) {
  .cindex {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8.5fr 2.8fr;
    grid-template-areas: 
    "seccioni2"
    "seccioni3"; }
    .cindex .imgseccion2 {
      width: 250px;
      height: 180px; } }

@media (max-width: 728px) {
  .cindex {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8.5fr 2.8fr;
    grid-template-areas:
      "seccioni2"
      "seccioni3"
 ; } }

.seccionindex2 {
  grid-area: seccioni2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.seccionindex3 {
  grid-area: seccioni3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.imgseccion2 {
  width: 400px;
  height: 300px; }

.logo {
  width: 100px;
  align-items: center;
  text-align: center; }

.findex {
  display: flex;
  justify-content: center;
  padding: 10px; }

.footerindex {
  grid-area: footeri;
  background-color: white;
  text-align: center; }

.controls {
  width: 100%;
  background: #d8dde2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f54c5;
  font-size: 18px; }

/* seccion index */
.seccionindex4 {
  grid-area: seccioni4;
  background-color: white;
  text-align: center;
  padding: 20px; }

/* seccion contacto */

.h1contactanos {
  text-align: center;
}
.containermain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 
  "ubicacion llamanos cargardatos"
 "escribinos seguinos cargardatos";
  padding: 25px;
  align-items: center;
  justify-content: center;
  gap: 20px; }

@media screen and (max-width: 716px) {
  .containermain {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "cargardatos"
    "ubicacion"
    "llamanos"
    "escribinos"
    "seguinos";}
   }

.ubicacion {
  grid-area: ubicacion;
  display: flex;
  flex-direction: column;
  align-items: center; }

.llamanos {
  grid-area: llamanos;
  display: flex;
  flex-direction: column;
  align-items: center; }

.escribinos {
  grid-area: escribinos;
  display: flex;
  flex-direction: column;
  align-items: center; }

.seguinos {
  grid-area: seguinos;
  display: flex;
  flex-direction: column;
  align-items: center; }

.cargardatos {
  grid-area: cargardatos;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-register {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  border-radius: 4px;
  color: white; }

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px; }

.form-register a {
  color: white;
  text-decoration: none; }

.form-register a:hover {
  color: white;
  text-decoration: underline; }

.form-register .botons {
  width: 100%;
  background: #1f54c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

.pcontactanos {
  height: 40px;
  text-align: center;
  font-size: 1ex; }
  /*estilo de juegos*/

  .container-juegos {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    padding: 50px 30px;
    align-items: center;
  }
  .h3-juegos{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
  }
  .p1-juegos {
    color:rgb(0, 0, 0);
    font-size: 1.6rem;
  }
  .c1-juegos{
    margin-right: 40px;
  }
  .c2-juegos{
    align-items: right;
  }
  .proveedores{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 50px;
    align-content: center;
  }
  .prove{
    opacity: .7;
    border: 2px double gray;
    margin: 10px;
  }
  .prove:hover{
    opacity: 1;
    border: solid white 2px;
  }
  @media screen and (max-width: 716px) {
    .container-juegos {
      flex-wrap: wrap;
    }
    .c1-juegos .c2-juegos{
      width: auto;
    }
    .proveedores{
      padding: 30px;
      gap: 0;
    }
    .prove{
      opacity: 1;
    }}