body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

h1{
  font-size: 28px  rem;
  color: white;
  text-shadow: 0.06em 0.06em grey;
    
}

p{
  font-size: 32px;
  color: wheat;
}

.logo{
  width: 40px;
  align-items: center;
  text-align: center;
}

.cindex {  
  display: grid;
  width:100% ;
  grid-template-columns: 1.5fr 1.4fr 1.8fr;
  grid-template-rows: 9.5fr 5.8fr 0.5fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "seccioni1 seccioni1 seccioni1"
    "seccioni2 . seccioni3"
    "seccioni4 seccioni4 seccioni4";
}
  
.seccionindex1 { 
  grid-area: seccioni1;
  background-image: url(../fotos/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;    
  padding: 20px ;
}  

.seccionindex2 {  
  grid-area: seccioni2;
  padding: 20px;

}
  
.seccionindex3 {  
  grid-area: seccioni3;
  padding: 20px ;
}
  
.seccionindex4 { 
  grid-area: seccioni4; 
  background-color: rgb(245, 245, 245);
  text-align: center;
  padding: 20px;              
}

.findex {  
  display: grid;
  grid-template-columns: 1.5fr ;
  grid-template-rows: 9.5fr ;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
  "footeri footeri footeri";
}

.footerindex{
  grid-area: footeri;
  background-color: white;
  text-align: center;    
}

.imgseccion2{
  width: 400px;
  height: 300px;
}

@media only screen and ( max-width:500px){
  .cindex{
    display: grid;
    width:100% ;
    grid-template-columns: 1fr;
    grid-template-rows: 9.5fr 5.8fr 3.5fr;
    grid-template-areas:  "seccioni1"
                          "seccioni2"
                          "seccioni3"
                          "seccioni4";
  }
  .seccionindex1{
    height: 50%;
  }
}

/* sobre nosotros */

.seccion1nosotros {
  grid-area: seccioni1;
  background-image: url(../fotos/fondo-tecnologia-red-conexion-global-digital_1017-23324.jpg);
  background-repeat: no-repeat;
  background-size: cover;    
  padding: 20px;
}

/*contactanos*/
.c {  display: grid;
  grid-template-columns: 1.4fr 1.5fr 1.8fr;
  grid-template-rows: 0.8fr 1fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo titulo titulo"
    "ubicacion llamanos cargardatos"
    "escribinos seguinos cargardatos";
}

.titulo { 
  grid-area: titulo;  
}
.h1contactanos{
  font-size: 30px;
  text-align: center;
  background-color: rgb(70, 70, 236);
}
.c{
  
}
.ubicacion {
   grid-area: ubicacion; 
  }

.llamanos { 
  grid-area: llamanos; 
}

.escribinos { 
  grid-area: escribinos; 
}

.seguinos { 
  grid-area: seguinos; 
}

.cargardatos { 
  grid-area:cargardatos; 
}
@media only screen and ( max-width:500px){
  .c{
    display: grid;
    width:100% ;
    grid-template-columns: 2fr;
    grid-template-rows: 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr;
    grid-template-areas:  
                          "titulo"
                          "ubicacion"
                          "llamanos"
                          "escribinos"
                          "seguidos"
                          "cargardatos";
  }
}

